* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-title);
    font-weight: 600;
    color: var(--color-deep-ocean);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    padding-inline: 15px;
    margin-inline: auto;
}

.logo-white {
    --logo-part1: var(--color-white);
    --logo-part2: var(--color-white);
}