.benefits {
    padding-block: 160px 344px;
}

.benefits_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.benefit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 54px;
    padding-inline: 120px 30px;

    background-color: var(--color-white);
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
    border-radius: 16px;
}

.benefit_content {
    max-width: 480px;
}

.benefit h2 {
    font-size: 28px;
    line-height: 42px;
    margin-block-end: 16px;
}

.benefit p {
    color: var(--color-gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.benefit_image img {
    max-width: 420px;
    width: 100%;
}

@media (max-width: 1023.98px) {
    .benefits {
        padding-block: 60px 230px;
    }

    .benefit {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 60px;

        padding-inline: 40px;

        text-align: center;
    }

    .benefit_left {
        flex-direction: column-reverse;
    }
}

@media (max-width: 424.98px) {
    .benefit {
        padding-block: 60px 30px;
    }

    .benefit h2 {
        font-size: 20px;
    }

    .benefit p {
        font-size: 14px;
    }
}