.footer {
    position: relative;
    color: var(--color-white);
    padding-block: 144px 64px;
    background-color: var(--color-deep-ocean);
}


.cta {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -65%);


    width: calc(100% - 40px);
    max-width: 800px;

    text-align: center;
    padding-block: 56px 52px;

    background-color: var(--color-white);
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0710768);
    border-radius: 15px;
}

.cta h2 {
    font-size: 32px;
    line-height: 60px;
    margin-block-end: 32px;
}

.cta a {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    padding-block: 25px;
    padding-inline: 100px;

    background: var(--color-pink);
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    border-radius: 40px;
    transition: var(--transition-btn);
}

.cta a:hover {
    background-color: var(--color-light-pink);
}


.footer_logo {
    display: inline-block;
    margin-block-end: 32px;
}

.logo {
    width: 152px;
    height: 24px;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
}

/*#region contacts */
.contacts_list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 370px;
}

.contact_link {
    display: flex;
    align-items: start;
    gap: 16px;
}

.contact_link:hover {
    text-decoration: underline;
}

.contact_icon {
    flex-shrink: 0;
    fill: var(--color-white);
    width: 20px;
    height: 20px;
}

.location-icon {
    margin-block-start: 8px;
}


.contact_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* #endregion */

/*#region navigation */
.footer_nav_list {
    column-count: 2;
    column-gap: 144px;
}

.footer_nav_item {
    margin-block-end: 12px;
}

.footer_nav_item:last-child {
    margin-block-end: 0;
}

.footer_nav_link {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}

.footer_nav_link:hover {
    text-decoration: underline;
}

/* #endregion */

/* #region social */
.social {
    display: flex;
    flex-direction: column;
}

.socials_list {
    display: flex;
    gap: 12px;

}

.social_logo {
    width: 32px;
    height: 32px;
    fill: var(--color-white);
    transition: var(--transition-btn);
}

.social_logo:hover {
    fill: var(--color-pink);
}

.copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    margin-block-start: auto;
    text-align: right;
}

/* #endregion */

@media (max-width: 1023.98px) {

    .footer {
        padding-block: 144px 46px;
    }

    .footer_wrapper {
        flex-direction: column;
        justify-content: start;
        gap: 40px;
    }

    .footer_nav_list {
        column-count: 1;
        gap: 0px;
    }

    .social {
        align-items: center;
        gap: 24px;
    }

    .copyright {
        margin-block-start: 0;
        text-align: center;
    }
}

@media (max-width: 767.98px) {

    .cta {
        padding-block: 40px;
    }

    .cta h2 {
        font-size: 22px;
        margin-block-end: 24px;
    }

    .cta a {
        font-size: 16px;
        padding-block: 16px;
        padding-inline: 80px;
    }
}

@media (max-width: 424.98px) {
    .cta h2 {
        font-size: 18px;
        margin-block-end: 24px;
    }

    .cta a {
        font-size: 10px;
        padding-block: 12px;
        padding-inline: 50px;
    }
}